#top-box{
    box-sizing: border-box;
    width: 1000px;
    height: 80px;
    background-color: lightgray;
}
.blue{
    box-sizing: border-box;
    width: 65px;
    height: 65px;
    margin-top: 8px;
    margin-left: 20px;
    background-color: rgb(43, 100, 206);
    float:left
}

#white{
    box-sizing: border-box;
    width: 1000px;
    height: 180px;
    font-weight: 2px;
    font-size: 19px;
    padding: 25px;
}

#blue{
    box-sizing: border-box;
    width: 1000px;
    height: 100px;
    background-color: rgb(43, 100, 206);
}

#aqua{
    box-sizing: border-box;
    width: 1000px;
    height: 100px;
    background-color: turquoise;
}
#green{
    box-sizing: border-box;
    width: 1000px;
    height: 100px;
    background-color: greenyellow;
}

#yellow{
    box-sizing: border-box;
    width: 1000px;
    height: 100px;
    background-color: yellow;
}